*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* nav-bar  */
nav {
    background-color: #232f3e;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.search-container input, button {
    padding: 5px 10px;
    border: none;
    font-size: 16px;
}

.search-container input {
    border-radius: 6px;
}

.search-container button {
    border-radius: 6px;
    background-color: #f5c518;
    cursor: pointer;
    transition: all 0.2s;
}

.search-container button:hover {
    background-color: #ffdd45;
}

/* Main Section  */
main {
    max-width: 1200px;
    margin: 0 auto;
    margin-block: 40px;
}

main section {
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 72vh;
    /* border: 2px solid red; */
}

.movie-container {
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 10px #ccc;
    width: 80%;
    border-radius: 5px;
    /* border: 2px solid black; */
}

.movie-poster img {
    height: 450px;
    margin-right: 35px;
    border-radius: 5px;
}

.movie-info {
    padding-inline: 15px;
}

.movie-info h2 {
    text-align: center;
    font-size: 30px;
    margin: 20px 0px 12px 0px;
}

.movie-info h2+p {
    text-align: center;
}

.movie-info .movie-genre {
    display: flex; 
    justify-content: center;
    margin-block: 5px;
}

.movie-info .movie-genre p {
    background-color: #232f3e;
    color: white;
    padding: 5px 14px;
    margin-inline: 5px;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: 700;
}

.movie-info p {
    font-size: 18px;
    margin-block: 16px;
    line-height: 24px;
}

.noBackground {
    box-shadow: none;
    background: none;
}

/* FOOTER SECTION  */
footer {
    text-align: center;
    background-color: #232f3e;
    color: white;
    padding-block: 20px;
    margin-top: 40px;
    font-size: 20px;
}